body{
    background-color: rgb(127, 212, 214);
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    align-items: center;
}

#menu{
    background-color: white;
    color: black;
    width:220px;
    padding: 10px;  
}
a{
    color: black;
    text-decoration: none;
    padding: 10px;
    transition: 0.5s;
}
a:hover{
    background-color: rgb(51, 79, 80);
    color: white;
}