<div class="container">
<div class="help-content">
    <div class="helpBox">
    <h1>Menu Aide</h1>
    <div class="sectionLogin">
    <a href="#/login">Login</a>
    <p>La fonction de connexion sécurise l'accès aux informations utilisateur et personnalise leur expérience sur l'application.</p> 
    </div>

    <div class="sectionSatistique">
    <a href="#/stats">Statistics</a> 
    <p>La fonction de statistiques montre le nombre de concepts, relations, faits et utilisateurs dans l'application.</p>
    </div>

    <div class="sectionConcept">
    <a href="#/dump-fait">Dump Fait</a> 
    <p>La fonction affiche une table des faits avec pagination pour gérer de grands volumes de données.</p>
    </div>

    <div class="sectionRelation">
    <a href="#/Relation">Relation</a>
    <p>La fonction affiche une table des relations avec pagination pour gérer de grands volumes de données.</p>
    </div>
    </div>
</div>
</div>
