<h1>Devinez le Concept!</h1>
<div id="indices">
</div>
<form id="guessForm">
    <input type="text" name="guess" placeholder="Votre réponse ici">
    <button type="submit">Devinez</button>
</form>
<p id="timer1"></p>