<h1>Statistique Web</h1>
<div>
    <p>Nombre De Concept:{{totalConcepts}}</p>
    <p>Nombre De Relations:{{totalRelations}}</p>
    <p>Nombre De Faits:{{totalFacts}}</p>
    <p>Nombre d'utilisateur:{{totalUsers}}</p>
</div>