<h1>Statistique Web</h1>
<div>
    <p>Nombre De Concept:{{NumConcept}}</p>
    <p>Nombre De Relations:{{NumConcept}}</p>
    <p>Nombre De Faits:{{NumConcept}}</p>
    <p>Nombre d'utilisateur:{{NumConcept}}</p>
</div>